@import '../../App.scss';

.employees {
    @include Responsive(xs) { --padding-x: 10.5px; }
    @include Responsive(sm) { --padding-x: 12px; }
    @include Responsive(xl) { --padding-x: 15px; }

    .cus-container {
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }

    .employees-banner {
        .banner-wrap {
            display: flex;
            justify-content: center;
            @include Responsive(xs) { padding-top: 19px; }
            @include Responsive(sm) { padding-top: 19px; }
            @include Responsive(md) { padding-top: 30px; }
            @include Responsive(lg) { padding-top: 50px; }
            @include Responsive(xl) { padding-top: 60px; }
        }
        img {
            max-width: 100%;
            width: 100%;
        }

    }
    .employees-header {

        .reach-further {

            @include Responsive(sm) { margin-bottom: 100px; }
            @include Responsive(md) { margin-bottom: 120px; }
            @include Responsive(lg) { margin-bottom: 150px; }
            @include Responsive(xl) { margin-bottom: 200px; }
            
            h1 {
                font-family: Gilroy-SemiBold;
                letter-spacing: -1px;
                color: #17274E;

                @include Responsive(xs) {
                    font-size: 36px;
                    line-height: 45px;
                    margin-bottom: 16px;
                    text-align: left
                }

                @include Responsive(sm) {
                    font-size: 36px;
                    line-height: 45px;
                    margin-bottom: 16px;
                    text-align: center;
                }

                @include Responsive(lg) {
                    font-size: 48px;
                    line-height: 45px;
                    margin-bottom: 16px;
                }

                @include Responsive(xl) {
                    font-size: 54px;
                    line-height: 60px;
                    margin-bottom: 24px;
                }
            }

            h6 {
                font-family: Gilroy-Regular;
                color: #3E5476;
                letter-spacing: 0px;

                @include Responsive(xs) {
                    font-size: 19px;
                    line-height: 28px;
                    margin-bottom: 24px;
                    text-align: left;
                }

                @include Responsive(sm) {
                    font-size: 19px;
                    line-height: 28px;
                    margin-bottom: 0;
                    margin-left: calc(-1 * var(--padding-x));
                    margin-right: calc(-1 * var(--padding-x));
                    text-align: center;
                }

            }

            .btn-learn-more {
                @include Responsive(sm) { display: none; }

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 54px;
                background: #273A5F;
                box-shadow: 0px 6px 10px #D2E2ED;
                border-radius: 8px;
                border: none;
                margin-bottom: 49px;

                font-family: Gilroy-SemiBold;
                font-size: 18px;
                line-height: 20px;
                color: #FFFFFF;
                opacity: 1;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    .employees-career-fetch {

        .left-wrap {
            h1 {
                font-family: Gilroy-SemiBold;
                font-size: 42px;
                line-height: 50px;
                text-align: left;
                letter-spacing: -1px;
                color: #17274E;

                @include Responsive(xs) {margin-bottom: 32px;}
                @include Responsive(sm) {margin-bottom: 24px;}
                @include Responsive(lg) {margin-bottom: 16px;}

            }
    
            p {
                font-family: Gilroy-Regular;
                letter-spacing: 0px;
                color: #A4B7C8;
                letter-spacing: 0px;
                text-align: left;
    
    
                @include Responsive(xs) {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 56px;
    
                }
    
                @include Responsive(sm) {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 56px;    
                }
    
                @include Responsive(lg) {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 0;
                }
            }

        }

        .list-wrap {
            list-style-type: none;
            position: relative;
            
            @include Responsive(xs) { padding-left: 0px; }
            @include Responsive(sm) { padding-left: 0px; }
            @include Responsive(lg) { padding-left: 28px; }
            @include Responsive(xl) { padding-left: 32px; }

            li {
                display: flex;
                align-items: center;
                margin-bottom: 68px;
                
                .head {
                    flex: 0 0 46px;
                    height: 46px;
                    border-radius: 50%;
                    background-color: #FFBE16;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include Responsive(xs) { margin-right: 19px; }
                    @include Responsive(sm) { margin-right: 24px; }
                    @include Responsive(md) { margin-right: 36px; }
                    @include Responsive(lg) { margin-right: 48px; }
                    @include Responsive(xl) { margin-right: 55px; }

                    span {
                        text-align: center;
                        font-family: Gilroy-Medium;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0px;
                        color: #000000;
                    }
                }

                .content {
                    @include Responsive(lg) { max-width: 292px; }
                    
                    h5 {
                        font-family: Gilroy-SemiBold;
                        letter-spacing: -0.25px;
                        text-align: left;
                        color: #17274E;
                        margin-bottom: 16px;

                        @include Responsive(xs) {
                            font-size: 22px;
                            line-height: 30px;
                        }

                        @include Responsive(sm) {
                            font-size: 22px;
                            line-height: 30px;
                        }

                        @include Responsive(lg) {
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }

                    p {
                        font-family: Gilroy-Regular;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #A4B7C8;
                        margin-bottom: 0;
                    }
                }

            }

            .horizontal-line {
                position: absolute;
                top: 36px;
                bottom: 56px;
                background: linear-gradient(0deg, rgba(255, 190, 22, 1), rgba(255, 190, 22, 0));
                width: 4px;
                border: none;
                z-index: -1;

                @include Responsive(xs) {
                    left: 23px - 2px;
                }
                @include Responsive(sm) {
                    left: 23px - 2px;
                }
                @include Responsive(lg) {
                    left: 49px;
                }
                @include Responsive(xl) {
                    left: 53px;
                }

            }
        }

    }

    .employees-usp {
        .col-6-text {
            display: flex;
            align-items: center;

            .col-6-wrap {
                width: 100%;

                h1 {
                    font-family: Gilroy-SemiBold;
                    color: #17274E;
                    margin-bottom: 45px;
                    text-align: left;
                    max-width: 494px;

                    @include Responsive(xs) {
                        font-size: 22px;
                        line-height: 30px;
                        letter-spacing: -0.25px;
                        margin-top: 16px;
                    }

                    @include Responsive(sm) {
                        font-size: 24px;
                        line-height: 30px;
                        letter-spacing: -0.25px;
                        margin-top: 16px;
                    }

                    @include Responsive(md) {
                        font-size: 26px;
                        line-height: 30px;
                        letter-spacing: -0.25px;
                        margin-top: 0;
                    }

                    @include Responsive(xl) {
                        font-size: 36px;
                        line-height: 45px;
                        letter-spacing: -1px;
                    }
                }

                .achieve-item {
                    display: flex;
                    max-width: 456px;

                    h5 {
                        font-family: Gilroy-SemiBold;
                        font-size: 22px;
                        line-height: 22px;
                        letter-spacing: -0.25px;
                        color: #17274E;
                        text-align: left;
                        margin-bottom: 15px;

                    }

                    p {
                        font-family: Gilroy-Regular;
                        font-size: 16px;
                        line-height: 24px;
                        color: #A4B7C8;
                        text-align: left;
                        margin-bottom: 40px;
                    }

                    .check-icon-wrap {
                        @include Responsive(xs) { padding-right: 16px; }
                        @include Responsive(sm) { padding-right: 16px; }
                        @include Responsive(md) { padding-right: 24px; }

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 32px;
                            height: 32px;
                            background: #FFBE16;
                            border-radius: 50%;

                            & > svg {
                                width: 15px;
                                height: 11px;
                            }
                        }

                    }

                }
            }
        }
    }

    .usp-top {
        background-color: #F9FBFE;
        .row-top {
            @include Responsive(xs) {
                flex-wrap: wrap-reverse;
            }

            @include Responsive(sm) {
                flex-wrap: wrap-reverse;
            }

            .usp-col-top-right {

                .col-6-wrap {
                    width: 100%;

                    img {
                        display: block;
                        max-width: 100%;

                        @include Responsive(xs) {
                            margin-top: 70px;
                            margin-bottom: 0;
                        }

                        @include Responsive(sm) {
                            margin-top: 70px;
                            margin-bottom: 0;
                        }

                        @include Responsive(md) {
                            margin-top: 125px;
                            margin-bottom: 54px;
                        }

                        @include Responsive(xl) {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
    .usp-bottom {
        .row-bottom {
            .usp-col-bt-left {

                .col-6-wrap {
                    width: 100%;

                    img {
                        max-width: 100%;
                        display: block;

                        @include Responsive(xs) {
                            margin-top: 105px;
                            margin-bottom: 58px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        @include Responsive(sm) {
                            margin-top: 105px;
                            margin-bottom: 58px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        @include Responsive(md) {
                            margin-top: 112px;
                            margin-bottom: 190px;
                        }
                    }
                }

            }
        }
    }

    .employees-find-out-more {
        @include Responsive(xs) { background-color: #091738; }
        @include Responsive(sm) { background-color: #091738; }
        @include Responsive(md) { background-color: #F9FBFE; }

        .row-find {
            flex-wrap: wrap-reverse;
        }

        .left-col {
            display: flex;
            align-items: center;

            h3 {
                font-family: Gilroy-SemiBold;
                text-align: left;

                @include Responsive(xs) {
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: -0.25px;
                    color: #EEF3F8;
                    margin-bottom: 48px;
                }

                @include Responsive(sm) {
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: -0.25px;
                    color: #EEF3F8;
                    margin-bottom: 48px;
                }

                @include Responsive(md) {
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: -1px;
                    color: #17274E;
                    margin-bottom: 24px;
                }

                @include Responsive(lg) {
                    font-size: 36px;
                    line-height: 45px;
                    letter-spacing: -1px;
                    color: #17274E;
                    margin-bottom: 24px;
                }

            }

            h5 {
                font-family: Gilroy-SemiBold;
                letter-spacing: -0.25px;
                text-align: left;
        

                @include Responsive(xs) {
                    font-size: 19px;
                    line-height: 28px;
                    color: #EEF3F8;
                    margin-bottom: 8px;
                }

                @include Responsive(sm) {
                    font-size: 19px;
                    line-height: 28px;
                    color: #EEF3F8;
                    margin-bottom: 8px;
                }

                @include Responsive(md) {
                    font-size: 20px;
                    line-height: 20px;
                    color: #17274E;
                    margin-bottom: 13px;
                }

                @include Responsive(lg) {
                    font-size: 22px;
                    line-height: 30px;
                    color: #17274E;
                    margin-bottom: 13px;
                }
            }

            p {
                font-family: Gilroy-Regular;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;

                @include Responsive(xs) {
                    color: #A4B7C8;
                    margin-bottom: 24px;
                }

                @include Responsive(sm) {
                    color: #A4B7C8;
                    margin-bottom: 24px;
                }

                @include Responsive(md) {
                    color: #17274E;
                    margin-bottom: 58px;
                }

                @include Responsive(lg) {
                    color: #17274E;
                    margin-bottom: 68px;
                }
            }

            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 54px;
                border-radius: 8px;

                font-family: Gilroy-SemiBold;
                font-size: 18px;
                line-height: 20px;
                color: #FFFFFF;
                opacity: 1;

                

                @include Responsive(xs) {
                    box-shadow: none;
                    background-color: transparent;
                    border: 1.5px solid #FFFFFF; 
                    margin-bottom: 118px;
                }

                @include Responsive(sm) {
                    box-shadow: none;
                    background-color: transparent;
                    border: 1.5px solid #FFFFFF; 
                    margin-bottom: 118px;
                }

                @include Responsive(md) {
                    background: #273A5F;
                    box-shadow: 0px 6px 10px #D2E2ED;
                    border: none;
                    margin-bottom: 0;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }

        .right-wrap {
            img {
                max-width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;

                @include Responsive(xs) {
                    margin-top: 117px;
                    margin-bottom: 25px;
                }

                @include Responsive(sm) {
                    margin-top: 117px;
                    margin-bottom: 25px;
                }

                @include Responsive(md) {
                    margin-top: 103px;
                    margin-bottom: 56px;
                }
                
            }
        }
    }

    .employees-member {
        
        .cus-container {
            
            
            @include Responsive(xs) {
                background-color: #FDFEFE;
                padding-top: 133px;
                padding-bottom: 169px;
            }

            @include Responsive(sm) {
                background-color: #FDFEFE;
                padding-top: 133px;
                padding-bottom: 169px;
            }

            @include Responsive(xl) {
                background-image: url("../../assets/img/memberBg.png");
                background-repeat: no-repeat;
                background-origin: content-box;
                background-position-y: 173px - 129px;
                padding-top: 129px;
                padding-bottom: 194px;
                
            }
        }

        .first-row {
            
            .first-row-col-center {
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    @include Responsive(xs) {
                        margin-bottom: 32px;
                    }

                    @include Responsive(sm) {
                        margin-bottom: 32px;
                    }

                    @include Responsive(md) {
                        margin-bottom: 49px;
                    }
                }

                h1 {
                    font-family: Gilroy-Light;
                    text-align: center;
                    letter-spacing: -1px;
                    color: #273A5F;
                    
                    @include Responsive(xs) {
                        font-size: 96px;
                        line-height: 95px;
                        margin-bottom: 20px;
                    }

                    @include Responsive(sm) {
                        font-size: 96px;
                        line-height: 95px;
                        margin-bottom: 20px;
                    }
        
                    @include Responsive(xl) {
                        font-size: 144px;
                        line-height: 95px;
                        margin-bottom: 49px;
                        margin-top: 14px;
                    }
                }

                h2 {
                    font-family: Gilroy-SemiBold;
                    text-align: center;
                    color: #273A5F;

                    @include Responsive(xs) {
                        font-size: 22px;
                        line-height: 30px;
                        letter-spacing: -0.25px;
                        margin-bottom: 14px;

                    }

                    @include Responsive(sm) {
                        font-size: 22px;
                        line-height: 30px;
                        letter-spacing: -0.25px;
                        margin-bottom: 14px;

                    }
        
                    @include Responsive(xl) {
                        font-size: 36px;
                        line-height: 50px;
                        margin-bottom: 8px;
                        letter-spacing: -1px;
                    }
                }

                p {
                    font-family: Gilroy-Regular;
                    text-align: center;
                    color: #A4B7C8;
                    max-width: 528px;
                    letter-spacing: 0px;
                    margin-left: auto;
                    margin-right: auto;

                    @include Responsive(xs) {
                        font-size: 19px;
                        line-height: 28px;
                        margin-bottom: 58px;
                    }

                    @include Responsive(sm) {
                        font-size: 20px;
                        line-height: 30px;
                        margin-bottom: 58px;
                    }

                    @include Responsive(lg) {
                        margin-bottom: 100px;
                    }

                    @include Responsive(xl) {
                        margin-bottom: 0;
                    }
                }

                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 160px;
                    height: 54px;
                    border-radius: 8px;
                    margin-left: auto;
                    margin-right: auto;

                    font-family: Gilroy-SemiBold;
                    font-size: 18px;
                    line-height: 20px;
                    color: #FFFFFF;
                    opacity: 1;

                    

                    @include Responsive(xs) {
                        box-shadow: none;
                        background-color: transparent;
                        border: 1px solid #273A5F; 
                        margin-bottom: 76px;
                        color: #273A5F;
                    }

                    @include Responsive(sm) {
                        box-shadow: none;
                        background-color: transparent;
                        border: 1px solid #273A5F; 
                        margin-bottom: 76px;
                        color: #273A5F;
                    }

                    @include Responsive(md) {
                        display: none;
                    }

                }
            }
        }

        .second-row {
            
            .second-row-col-half:nth-child(1) {
                .cmt-wrap {
                    @include Responsive(md) {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-top: 0;

                        .cmt {
                            flex: 1;
                        }
                    }

                    @include Responsive(xl) {
                        margin-top: 139px;
                        height: initial;
                        display: block;
                    }
                }
            }

            .second-row-col-half:nth-child(2) {
                .cmt-wrap {
                    @include Responsive(xs) {
                        margin-top: 67px;
                    }
                    @include Responsive(sm) {
                        margin-top: 67px;
                    }

                    @include Responsive(md) {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-top: 0;

                        .cmt {
                            flex: 1;
                        }
                    }

                    @include Responsive(xl) {
                        height: initial;
                        display: block;
                        margin-top: 337px;
                    }
                }
            }

            .cmt-wrap {
                max-width: 540px;
                margin-left: auto;
                margin-right: auto;

                img {
                    max-width: 100%;
                }
            }

            .cmt {
                background: #FFFFFF;
                border: 1px solid #EEEEEE;
                box-sizing: border-box;
                box-shadow: 0px 18px 25px rgba(0, 0, 0, 0.03);
                border-bottom-left-radius: 18px;
                border-bottom-right-radius: 18px;
                text-align: left;

                @include Responsive(xs) { padding: 24px;}
                @include Responsive(sm) { padding: 24px;}
                @include Responsive(xl) { padding: 48px;}

                p {
                    font-family: Gilroy-Regular;
                    color: #000000;
                    letter-spacing: 0px;

                    @include Responsive(xs) {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 24px;
                    }

                    @include Responsive(sm) {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 24px;
                    }

                    @include Responsive(xl) {
                        font-size: 24px;
                        line-height: 36px;
                        margin-bottom: 26px;
                    }
                }

                .signal {
                    font-family: Gilroy-Medium;
                    color: #000000;
                    margin-bottom: 0;

                    @include Responsive(xs) {
                        font-size: 15px;
                        line-height: 23px;
                        letter-spacing: 0.07717770338058472px;

                    }

                    @include Responsive(sm) {
                        font-size: 15px;
                        line-height: 23px;
                        letter-spacing: 0.07717770338058472px;

                    }

                    @include Responsive(xl) {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0.1px;
                    }
                }
            }
        }

        .third-row {
            @include Responsive(xs) { 
                margin-top: 58px;
                // margin-bottom: 169px;
            }

            @include Responsive(sm) { 
                margin-top: 58px;
                // margin-bottom: 169px;
            }

            @include Responsive(xl) { 
                margin-top: 66px; 
            }

            .view-role-wrap {
                background: #273A5F;
                border-radius: 21px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                @include Responsive(xs) { padding: 24px; }
                @include Responsive(sm) { padding: 24px; }
                @include Responsive(xl) { padding: 45px 42px; }

                .wrap-text {
                    
                    @include Responsive(xs) { 
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: center;
                    }

                    @include Responsive(sm) { 
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: center;
                    }

                    @include Responsive(md) {
                        flex: 1;
                        max-width: 540px;
                        text-align: left;
                    }

                    h2 {
                        font-family: Gilroy-SemiBold;
                        letter-spacing: -1px;
                        color: #FFFFFF;

                        @include Responsive(xs) {
                            font-size: 36px;
                            line-height: 45px;
                            margin-bottom: 24px;
                        }
                        @include Responsive(sm) {
                            font-size: 36px;
                            line-height: 45px;
                            margin-bottom: 24px;
                        }

                        @include Responsive(md) {
                            font-size: 30px;
                            line-height: 36px;
                            margin-bottom: 24px;
                        }

                        @include Responsive(lg) {
                            font-size: 36px;
                            line-height: 45px;
                            margin-bottom: 24px;
                        }

                        @include Responsive(xl) {
                            font-size: 42px;
                            line-height: 50px;
                            margin-bottom: 28px;
                        }
                    }
    
                    p {
                        font-family: Gilroy-Regular;
                        color: #FFFFFF;
                        margin-bottom: 0;
                        letter-spacing: 0;

                        @include Responsive(xs) {
                            font-size: 19px;
                            line-height: 28px;
                        }
                        @include Responsive(sm) {
                            font-size: 19px;
                            line-height: 28px;
                        }
                        @include Responsive(md) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @include Responsive(lg) {
                            font-size: 20;
                            line-height: 30px;
                        }
                    }
                }

                .wrap-btn {
                    display: flex;
                    align-items: flex-end;
                    
                    @include Responsive(xs) { 
                        flex: 0 0 100%;
                        max-width: 100%;
                        justify-content: center;
                        margin-top: 32px;
                    }

                    @include Responsive(sm) { 
                        flex: 0 0 100%;
                        max-width: 100%;
                        justify-content: center;
                        margin-top: 32px;
                    }

                    @include Responsive(md) {
                        max-width: 130px;
                    }

                    button {
                        background-color: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 17px 25px;
                        height: 54px;
                        border: 1px solid rgba(255, 255, 255, 0.44);
                        box-sizing: border-box;
                        border-radius: 8px;
                        font-family: Gilroy-SemiBold;
                        color: #FFFFFF;

                        &:hover {
                            border-color: rgba(255, 255, 255, 0.8);
                        }
                    }
                }

            }
            
        }
    }

    .employees-join {
        background-color: #FF6847;

        .cus-container {
            padding-top: 49px;
            padding-bottom: 49px;
        }

        .col-text {
            @include Responsive(xs) {
                text-align: center;
            }

            @include Responsive(sm) {
                text-align: center;
            }

            @include Responsive(md) {
                text-align: left;
            }
            

            h3 {
                font-family: Gilroy-SemiBold;
                font-size: 36px;
                line-height: 60px;
                letter-spacing: -1px;
                color: #FFFFFF; 
                margin-bottom: 12px;
            }

            h6 {
                font-family: Gilroy-Regular;
                font-size: 20px;
                line-height: 28px;
                color: #FFFFFF;
                margin-bottom: 0;
            }
        }

        .col-btn {
            .btn-wrap {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                height: 100%;

                button {
                    background-color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 17px 25px;
                    height: 54px;
                    border: none;
                    box-sizing: border-box;
                    border-radius: 8px;
                    font-family: Gilroy-SemiBold;
                    color: #FF6847;

                    &:hover {
                        opacity: 0.9;
                        // outline: 2px solid transparent;
                        // outline-offset: 2px;
                        // --tw-ring-offset-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
                        // --tw-ring-shadow: rgba(59, 130, 246, 0.5) 0px 0px 0px 3px;
                        // --tw-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
                        // box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);
                    }
                }
            }
        }
    }
}
