.feedbacks-container {
  width: 100%;
  padding-bottom: 100px;
}

.feedbacks__inner {
}

.text-group {
  width: 100%;
  text-align: center;
  padding: 0 10%;
}

.text-group__title {
  color: #000000;
}

.text-group__small-text {
  text-align: center;

  color: #a4b7c8;
  display: flex;
  justify-content: center;
}

.feedbacks__small-text span {
  width: 50%;
}
/* Slide */
.slide-container {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: 0 25px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 18px 35px #eef6fa;
  border-radius: 18px;
  opacity: 0.6;
  margin-bottom: 0px;
}

.slick-cus-review .slick-track{
  margin-bottom: 70px;
}

.slide__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.slide__photo-holder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.slide__photo-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 200px;
  background: #eef6fa;
  border-radius: 15px 15px 0px 0px;
}

.slide__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-grow: 1;
}


.slide__main-content {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  padding: 40px 22px;
  /* or 133% */

  letter-spacing: 0.1px;

  /* Dark – #000000 */

  color: #000000;
  flex-grow: 4;
}

.slide__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 22px 30px;
  align-items: flex-start;
  justify-content: flex-end;
}

.slide__info-name {
  margin-right: 20px;
  font-family: Gilroy-Medium;
  font-size: 15.4355px;
  line-height: 23px;
  /* or 150% */

  letter-spacing: 0.0771777px;
  /* Dark – #000000 */

  color: #000000;
}

.slide__info-description {
  font-family: Gilroy-Medium;
  font-size: 15.4355px;
  line-height: 23px;
  /* or 150% */

  letter-spacing: 0.0771777px;
  /* Dark – #000000 */

  color: #000000;
}

/* Slide track */
.slide-track-container {
  max-width: 100%;
  position: relative;
  margin-top: 80px;
}

.slide-track__inner {
  width: 100%;
  transition: all 0.3s ease;
}

.slick-cus-review .slick-center .slide-container{
  opacity: 1;
}

.left-arrow {
  position: absolute;
  left: calc(10% + 50px);
  top: 50%;
  z-index: 999;
}

.right-arrow {
  position: absolute;
  right: calc(10% + 50px);
  top: 50%;
  z-index: 999;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Float group */

.c-float-group {
  filter: drop-shadow(0px 6px 12px rgba(19, 42, 151, 0.1));
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  z-index: 10;
  margin: 0 10%;
  padding: 0 50px;
  align-items: center;
  transform: translateY(-50%);
}

.float-group__theme {
  transform: translateY(33.05px);
}

.float-group__content {
  flex-grow: 1;
  padding: 0 20px;
}

.c-float-group .c-large-button {
  background: #091738;
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #ffffff;
}
/* Switch Dots */
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a4b7c8;
  margin-right: 14px;
}

.dot.dot--dark {
  background-color: #17274e;
}

.dot.active {
  background-color: #17274e;
}

.dot.dot--dark.active {
  background-color: #a4b7c8;
}

.switch-dots {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.slick-cus-review .slick-dots {
  bottom: 6px !important;
  height: 16px !important;
}

.slick-cus-review .slick-dots li button {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  background-color: #17274E!important;
  margin-right: 14px;
}

.slick-cus-review .slick-dots li {
  height: 16px;
}

.slick-cus-review .slick-track{
  display: grid;
  grid-auto-flow: column;
}

.slick-cus-review .slick-slide > div{
  height: 100%;
}

.slick-cus-review .slide-container{
  height: 100%;
}

@media (max-width: 992px) {
  .float-group__theme img {
    display: none;
  }

  .float-group__theme {
    background-image: url(../img/RoundSearchIcon.png);
    background-position: center;
    background-size: cover;
    width: 68px;
    height: 68px;
    transform: none;
  }
  .c-float-group {
    transform: none;
    flex-direction: column;
    padding: 40px 13px;
    row-gap: 24px;
    margin: 16px 25px 65px;
  }

  .c-float-group div {
    text-align: center;
  }
}

@media (max-width: 768px) {

  .slide-track__inner {
    margin: 0 0px;
  }

  .slide-track-container {
    margin-left: 0;
    margin-right: 0;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }
  .slick-cus-review .slide-container{
    opacity: 1!important;
  }
  .slide-container{
    margin-left:16px;
    margin-right: 16px;
  }

  .slide__main-content{
    padding-left: 20px;
  }

  .slide__info{
    padding-left: 20px;
  }
}
