.header {
  /* Header-Desktop */
  width: 100%;
  /* White */
  background: #ffffff;
  padding: 0 10%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.header__left {
  display: flex;
  flex: 0 1;
}

.group-5169054 {
  width: 126px;
  position: relative;
  flex: 0 1;
  height: 54px;
  align-items: center;
  z-index: 3;
}

.group-5169054 > img {
  /* Group */
}

.header__contact-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 25px;
  background: #ffbe16;
  box-shadow: 0px 6px 10px #d2e2ed;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__contact-button__content {
  /* The quick brown fox jumps over the lazy dog */
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

/* Menu item */
.header__menu-group {
  display: flex;
  align-items: center;
}

.header__menu-first-group {
  display: flex;
}

.menu-item {
  /* P */
  display: inline-block;
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  margin-right: 30px;
  /* or 24px */

  display: flex;
  align-items: center;

  /* Grey-04 */

  color: #a4b7c8;
}

.menu-item:hover {
  color: #3e5476;
  /* font-family: "Gilroy-SemiBold"; */
}

.header--yellow .menu-item:hover {
  color: #708deb !important;
}

.menu-icon {
  /* Vector 15 */
  margin-left: 5px;
  width: 10px;
  height: 5px;

  /* Grey-03 */
}
.navbar-toggler {
  position: absolute;
  right: 0px;
  height: 14px;
}

.collapse:not(.show) {
  display: none;
}

.header__left.collapse {
  transform: translateY(-100px);
  opacity: 0;
  /* transition: 0.3s ease all; */
  width: 100%;
}

.header__left.show {
  transform: translateY(0);
  opacity: 1;
  position: inherit;
  z-index: 10;
}

/* Dropdown Menu */
.dropdown-menu.show {
  filter: drop-shadow(0px 6px 12px rgba(19, 42, 151, 0.1));
  background: #ffffff;
  border: 1px solid #d2e2ed;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 500px;
  transform: translate(-140px, 62px) !important;
  position: relative;
  z-index: 999;
}

.header__dropdown-item {
  position: relative;
  z-index: 11;
}

.header__dropdown-item__inner {
  padding: 20px 15px;
  display: inline-flex;
}

.header__dropdown-item__icon {
  width: 22px;
  height: 28px;
  background-size: cover;
  background-position: center;
  margin: 5px 15px;
}

.upperArrow {
  position: absolute;
  width: 20px;
  height: 20px;
  right: calc(50% - 17px);
  top: -10px;
  background: #fff;
  border-radius: 2px;
  transform: rotate(-45deg);
  border-top: 1px solid #d2e2ed;
  border-right: 1px solid #d2e2ed;
  z-index: 10;
  box-shadow: (0px 6px 12px rgba(19, 42, 151, 0.1));
}

.header__dropdown-item__title {
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  letter-spacing: -0.25px;
  color: #17274e;
}

.header__dropdown-collapse .header__dropdown-item__title {
  color: #a4b7c8 !important;
}

.header__dropdown-item__text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  display: inline-block;
  color: #a4b7c8;
  width: 246px;
}

.header__contact-button-container {
  align-items: center;
  width: 100%;
}

.header--yellow
  div:not(.header__dropdown-item__title, .header__dropdown-item__text) {
  color: #ffffff !important;
}

.header--yellow .header__dropdown-collapse div {
  color: #ffffff !important;
}

.header--yellow .header__contact-button {
  background: #ffffff;
  /* shadow 01 */
  box-shadow: 0px 6px 12px rgba(19, 42, 151, 0.1);
}

.header--yellow .header__contact-button span {
  color: #ffbe16;
}

.menu-item.show .menu-icon {
  transform: rotate(180deg);
}

@media (max-width: 1000px) {
  .header__inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .header__menu-group {
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .header__menu-first-group .menu-item {
    margin-right: 60px;
  }
  .header__left.show {
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
  }

  .header__contact-button-container > a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* light text */
.header__dropdown-item__title.c-light-text {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: -0.25px;

  color: #a4b7c8;
}

.header__contact-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

@media (max-width: 768px) {
  .header__menu-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__menu-first-group {
    width: 100%;
  }

  .header__menu-group > div {
    margin: 10px 0;
  }

  .header__menu-first-group > a {
    flex-grow: 1;
  }

  .menu-collapse-toggle.collapsed {
  }

  .menu-collapse-toggle:hover,
  .menu-collapse-toggle:not(.collapsed) {
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    letter-spacing: -0.25px;

    color: #17274e;
  }

  .header--yellow .header__dropdown-collapse div {
    color: #fffbfbcb !important;
  }

  .header--yellow .header__dropdown-menu div {
    color: #fffbfbcb !important;
  }

  .header__dropdown-item__inner:hover {
    background-color: inherit;

    box-shadow: none;
  }

  .header__dropdown-item__title.c-light-text:hover {
    color: #3e5476 !important;
  }

  .header__dropdown-item__inner {
    padding: 0px 0px;
  }

  .header__dropdown-menu {
    margin-top: 20px;
  }

  .header {
    padding: 0 16px;
  }
}

.header__menu-first-group .dropdown {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .header__dropdown-item__inner:hover {
    background-color: #1264a3;
    color: #fff !important;
    box-shadow: 0 1px 3px rgb(122 87 87 / 8%);
  }
  .header__dropdown-item__inner:hover div {
    color: #ffffff !important;
  }
}

@media (max-width: 576px) {
  .header__contact-button {
    width: 100%;
    display: flex;
  }

  .header__inner {
  }
}
@media (max-width: 400px) {
  .header__left.show {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .header__menu-group {
    margin-bottom: 0px;
  }
  .dropdown {
    margin: 10px 0 !important;
  }

  .header__dropdown-item__content {
    height: 36px;
  }

  .header__logo {
    display: flex;
  }
  .navbar-toggler {
    top: 25px;
  }
}

@media (max-width: 320px) {
}
